<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Dry.AutoMapper</name>
    </assembly>
    <members>
        <member name="T:Dry.AutoMapper.AutoMapperExtension">
            <summary>
            AutoMapper扩展
            </summary>
        </member>
        <member name="M:Dry.AutoMapper.AutoMapperExtension.AddCustomAutoMapper(Microsoft.Extensions.DependencyInjection.IServiceCollection,System.String[])">
            <summary>
            添加AutoMapper扩展服务注册
            </summary>
            <param name="services"></param>
            <param name="prefixs">程序集名称前缀</param>
            <returns></returns>
        </member>
        <member name="T:Dry.AutoMapper.Mapping.DryProfile">
            <summary>
            值对象映射
            </summary>
        </member>
        <member name="M:Dry.AutoMapper.Mapping.DryProfile.#ctor">
            <summary>
            构造体
            </summary>
        </member>
        <member name="M:Dry.AutoMapper.Mapping.DryProfile.MappingFunction``1(Dry.Core.Model.DryData{``0},``0)">
            <summary>
            DryData转Data
            </summary>
            <typeparam name="TData"></typeparam>
            <param name="source"></param>
            <param name="destination"></param>
            <returns></returns>
        </member>
        <member name="M:Dry.AutoMapper.Mapping.DryProfile.MappingFunction``1(``0,Dry.Core.Model.DryData{``0})">
            <summary>
            Data转DryData
            </summary>
            <typeparam name="TData"></typeparam>
            <param name="source"></param>
            <param name="destination"></param>
            <returns></returns>
        </member>
    </members>
</doc>
